<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="bb560ded-8137-48a5-9546-47431328a183"
    Publisher="CN=lunam"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="bb560ded-8137-48a5-9546-47431328a183" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>IvsCalc</DisplayName>
    <PublisherDisplayName>lunam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Ivs Calculator"
        Description="Calculator build for IVS course"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\IvsCalcIcon_150px.png"
        Square44x44Logo="Assets\IvsCalcIcon_44px.png">
        <uap:DefaultTile Wide310x150Logo="Assets\IvsCalcIcon.png" />
        <uap:SplashScreen Image="Assets\IvsCalcIcon.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
